.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;

  background-color: var(--white);
  opacity: 0;
  gap: 3rem;
  transition: 0.2s ease-in-out;

  pointer-events: none;

  .circle {
    position: absolute;
    top: 6vh;
    right: 5vw;
    transform: translate(0%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background: radial-gradient(circle, var(--purple) 0%, #abd2f900 49%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle__active {
    transform: translate(0%, -50%) scale(150);
    transition: 0.5s cubic-bezier(0.35, 0.91, 0.49, 0.96);
  }

  .left__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem 0;
    z-index: 999;

    .link {
      font-size: 4rem;
      font-weight: 700;
      color: var(--black);
      text-decoration: none;
      transition: 0.3s ease-out;
      z-index: 999;
      text-transform: uppercase;

      &:hover {
        color: var(--purple);
      }
    }
  }

  .right__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 5rem 0;
    z-index: 999;
    padding: 0 3rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      z-index: 999;
    }

    p {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--black);
      text-decoration: none;
      transition: 0.3s ease-out;
      z-index: 999;

      span {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      z-index: 999;

      a {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--black);
        text-decoration: none;
        transition: 0.3s ease-out;
        z-index: 999;

        &:hover {
          color: var(--purple);
        }
      }
    }

    .socials {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      z-index: 999;

      a {
        font-size: 1.5rem;
        transition: 0.3s ease-out;
        z-index: 999;

        &:hover {
          color: var(--purple);
        }

        &:hover svg path {
          fill: var(--purple);
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          z-index: 999;

          path {
            fill: var(--black);
            z-index: 999;
          }
        }
      }
    }
  }
}

.menu__active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 768px) {
  .menu {
    gap: 2rem;
    flex-direction: column;

    .left__side {
      width: 80%;
      gap: 1rem;
      padding: 3rem 0;

      .link {
        font-size: 3rem;
      }
    }

    .right__side {
      width: 80%;
      gap: 1rem;
      padding: 3rem 0;

      p {
        font-size: 1.2rem;

        span {
          font-size: 1.2rem;
        }
      }

      .contact {
        a {
          font-size: 0.9rem;
        }
      }

      .socials {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .menu {
    gap: 1rem;
    flex-direction: column;

    .left__side {
      gap: 1rem;
      padding: 2rem 0;

      .link {
        font-size: 1.5rem;
      }
    }

    .right__side {
      gap: 1rem;
      padding: 2rem 0;

      p {
        font-size: 0.7rem;
      }

      .contact {
        a {
          font-size: 0.8rem;
        }
      }

      .socials {
        a {
          svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }
}
